.ledger {
  display: flex;
  flex-direction: column;
}

.asset_class_col {
  background-color: tomato;
  width: var(--asset-class-width);
  display: flex;
  justify-content: space-between;
  border-right-style: double;
  border-color: var(--primary-line-color);
  padding-top: 15px;
}

.breakdown_col_1, .breakdown_col_2 {
  width: var(--breakdown-width);
  border-right-style: solid;
  border-right-width: 1px;
  border-color: var(--primary-line-color);
}

.breakdown_col_3 {
  width: var(--breakdown-width);
  border-right-style: double;
  border-color: var(--primary-line-color);
}

.day_7_col, .day_30_col, .day_90_col {
  width: 33%;
}