.AssetRow {
  display: flex;
}

.AssetEditDelete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.delete:hover {
  cursor: pointer;
  opacity: 80%;
}

.AssetTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 48%;
  height: 20px;
  color: var(--primary-line-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--primary-line-color);
}

.asset_price {
  padding-right: 5%;
  font-size: 12px;
}