.TableHeader {
  display: flex;
  /* border-bottom-style: solid;
  border-color: var(--primary-line-color); */
}

.total_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 35%;
  border-right-style: double;
  border-bottom-style: solid;
  border-color: var(--primary-line-color);
}

.total {
  padding-left: 10%;
}

.total_value {
  padding-right: 10%;
}