.days {
  display: flex;
  flex-direction: row-reverse;
}

.day_list {
  display: flex;
  justify-content: space-around;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1vh;
  width: 25%;
}

.day_7, .day_30, .day_90 {
  width: 33%;
}